@font-face {
	font-family: OpenDyslexic;
	src: url(OpenDyslexic.otf);
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	background: black;
	text-align: center;
}

#container {
	display: inline-block;
	text-align: center;
	background: white;
	margin: 10px;
	width: 600px;
	height: calc(100vh - 40px);
}

#pageNum {
	display: block;
	font-family: Arial, sans-serif;
	padding-top: 20px;
}

#pageNum span {
	padding: 2px 5px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px black solid;
	background: white;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* TEXT CONTAINER */
#text-container {
    position: relative;
}

#text {
    position: relative;
	display: inline-block;
	padding: 0 calc((100% - 400px) / 2);
	text-align: left;
	line-height: 2rem;
	font-size: 18px;
	font-family: Arial, sans-serif;
	
	margin-top: 15px;
	height: calc(100vh - 175px);

    user-select: none;
	
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#text::-webkit-scrollbar {
	display: none;
}

#text.font2 {
	font-family: Times, serif;
}

#text.font3 {
	font-family: OpenDyslexic, sans-serif;
}

#text.alternate-lines {
	background-image: repeating-linear-gradient(
			  to bottom,
			  transparent, transparent 2rem,
			  #ccc 2rem, #ccc 4rem);
	background-attachment: local;
}

#container.mask #text.alternate-lines {
	background-image: repeating-linear-gradient(
			  to bottom,
			  transparent, transparent 2rem,
			  #333 2rem, #333 4rem);
	background-attachment: local;
}

#text p {
	margin: 2rem 0;
}

#text p:first-child {
	margin-top: 0;
}

.dialogue {
	padding-left: 20px;
}

/* FADE GRADIENTS */
#gradient-start, #gradient-end {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
}

#gradient-start {
    background-image: linear-gradient(to top, transparent, white 90%);
    top: 10px;
}

#gradient-end {
    background-image: linear-gradient(to bottom, transparent, white 90%);
    bottom: 0;
}

#container.mask #gradient-start {
	background-image: linear-gradient(to top, transparent, #444 90%);
	top: 10px;
}

#container.mask #gradient-end {
	background-image: linear-gradient(to bottom, transparent, #444 90%);
	bottom: 0;
}

/* UNITES DE SENS */
#text.separate .unit {
	display: inline-block;
	letter-spacing: 2px;
}

#text.alternate .unit:nth-child(even) {
	background-color: #ddd;
}

#text.alternate .unit:nth-child(odd) {
	background-color: #bbb;
}

#container.mask {
	background-color: #444;
}

.maskFocus {
	background-color: white;
	border-radius: 5px;
}

/* MOTS */
.word {
    cursor: pointer;
}

.selected {
    background-color: rgba(0, 177, 29, 0.3) !important;
}

.voice {
	background-color: rgba(0, 29, 177, 0.3) !important;
}

/* CONTEXT MENU */
#contextMenu {
    position: absolute;
    padding: 10px;
    background-color: #00b11d;
    height: 80px;
    border-radius: 40px;
}

#contextMenu .material-icons {
    margin-left: 10px;
}

#close {
	position: fixed;
	margin: 0;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	line-height: 45px;
	left: 50%;
	top: 22px;
	transform: translateX(-25px);
}

#definition-box {
	position: absolute;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: rgba(255, 255, 255, 0.8);
}

/* MENU */
#menu {
    position: relative;
    bottom: 0;
	display: flex;
	justify-content: center;
	height: 80px;
	padding: 10px;
	background: #00b11d;
	user-select: none;
}

.material-icons:first-child {
    margin: 0 !important;
}

.material-icons {
	margin-left: 20px;
	position: relative;
	font-size: 35px;
	text-align: center;
	height: 60px;
	width: 60px;
	line-height: 54px;
	background: white;
	border-radius: 30px;
	border: 3px solid black;
	cursor: pointer;
}

.material-icons:not(.no-toggle) > span {
	display: none;
}

.material-icons.toggle1 > span:first-child,
.material-icons.toggle2 > span:nth-child(2),
.material-icons.toggle3 > span:nth-child(3) {
	display: inline-block;
}

.font-toggle {
	position: absolute;
	font-size: 27px;
	line-height: 10px;
	color: #666;
	top: 0;
}

.material-icons.toggle1 .font-toggle span:first-child,
.material-icons.toggle2 .font-toggle span:nth-child(2),
.material-icons.toggle3 .font-toggle span:nth-child(3) {
	color: black;
}

.font-toggle span {
	position: absolute;
}

.font-toggle span:first-child {
	font-family: Arial, sans-serif;
	top: 8px;
	left: 20px;
}
.font-toggle span:nth-child(2) {
	font-family: Times, serif;
	top: 28px;
	left: 11px;
}
.font-toggle span:nth-child(3) {
	font-family: OpenDyslexic, sans-serif;
	top: 28px;
	left: 29px;
}